.sidebar {
	width: 180px;
	height: 100%;
}

/* top margin on sidebar needed for JS to parse */
.sidebar, .content {  margin-top: 5rem; }

/* fixed sidebar applied dynamtically with JS */
.fixed {  position: fixed; top: 0; }

#sidebar .navbar-nav li.active > a {
	color: #3c6360;
	font-weight: bold;
}

.achievements_table{
	width: 100%;
	padding: 1rem;
}

.bug_list{
	width: 100%;
	padding: 1rem;
}

.contribution_table{
	width: 100%;
	padding: 1rem;
}

.gant_chart{
	width: 100%;
	padding: 1rem;
}

.ganttchart_table{
	width: 50%;
	padding: 1rem;
	align: left;
}

.sequence_diagram{
	width: 100%;
	padding: 1rem;
}

.system_architecture{
	width: 70%;
	padding: 1rem;
}
